
#Python Cache
**/__pycache__/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebignore


# Virtual Environment
.env
.venv
/env
/venv

# DB
db.sqlite3

# Coveralls
.coveralls.yml
.coverage

